<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Your Recipe Book</h1>
            <h2>A place to add and store your very own recipes without them getting lost.
            <br>
            From here you can add new recipes, view your recipes, add and view your favorites
            search your recipes by ingredients or name.
            <br>
            You can even upload your own pictures for your recipes
            <br>
            The instructions tab above will give you details on how to use your recipe book
            <br>
            There are also some basic recipes that you can search for to get you started!
            <br>
            We hope you enjouy using your new Recipe Book!
            </h2>
</body>
</html>