<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
    <title>Favorites</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('add_recipe') }}">Add Recipe</a>
        <a href="{{ url_for('your_recipes') }}">Your Recipes</a>
        <a href="{{ url_for('favorites') }}">Favorites</a>
        <a href="{{ url_for('instructions') }}">Instructions</a>
        <a href="{{ url_for('dashboard') }}">Home</a>
          <div class="search-container">
        <form method="get" action="/templates/search_results.html" id="searchForm" class="form-group">
            <label for="search"></label>
            <input type="text" name="search" id="search" required>
            <input type="submit" class="button1-style" value="Search">
        </form>
          </div>
    </nav>
    <div class="book-container">
        <div class="field-container">
            
            <img src= "/static/images/border.png" alt="Border Image">
    <div class="your-favorites">  
    </div>
    <img src="/static/images/borderb.png" alt="Border Image">
    <h1>Your Favorite Recipes</h1>
    <div class="recipes-grid">
        <!-- Display user's favorite recipes -->
        {% for favorite in favorites %}
        <article class="recipe-item">
            <div id="printableArea{{ favorite[0] }}" class="recipe-container">
                <div class="recipe-image">
                    {% if favorite[6] %}
                    <img src="{{ url_for('static', filename='uploads/' + favorite[6]) }}" alt="{{ favorite[1] }}">
                    {% else %}
                    <img src="{{ url_for('static', filename='default_image.jpg') }}" alt="Default Image">
                    {% endif %}
                    <p class="recipe-title"><strong>{{ favorite[1] }}</strong></p>
                    <!-- Display Method with Numbers -->
                    <div class="recipe-method">
                        <strong class="other-titles" >Method:</strong>
                        {% if favorite[3] %}
                        <ol class="method-list">
                            {% for step in favorite[3].split('\n') %}
                            <li>{{ step }}</li>
                            {% endfor %}
                        </ol>
                        {% endif %}
                    </div>
                </div>

                <div class="recipe-details">
                    <!-- Display Ingredients as a List -->
                    <p><strong class="other-titles">Ingredients:</strong></p>
                    {% if favorite[2] %}
                    <ul>
                        {% for ingredient in favorite[2].split('\n') %}
                        <li>{{ ingredient }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    <!-- Notes Section -->
                    <blockquote class="notes">
                        <p><strong class="other-titles">Notes:</strong><div class="text-notes"> {{ favorite[4] }}</div></p>
                    </blockquote>

                    <br>

                </div>

            </div>
            
            <!-- Remove from Favorites Button -->
            <button onclick="removeFromFavorites({{ favorite[0] }})" class="button1-style">Remove from Favorites</button>
            <a class="button3-style" onclick="printPageArea({{ favorite[0] }})">Print Recipe</a>

            
            <hr>
        </article>
        {% endfor %}
    </div>   
    <script src="/static/scripts/script.js"></script>
</body>
</html>