<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
    <meta name="description"
        content="Store all your own delicious recipes in your own recipe book. From appetizers to desserts, find inspiration for your next meal.">
    <meta name="keywords" content="recipes, cooking, food, meals, ingredients, dishes">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="7 days">
    <meta name="language" content="English">
</head>

<body>
      <!-- Hamburger menu toggler -->
      <input type="checkbox" class="toggler" id="hamburger">

      <!-- Hamburger menu button -->
      <div class="hamburger">
          <div></div>
      </div>
  
      <!-- Menu -->
      <div class="menu">
          <div>
              <ul>
                  <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
                  <li><a href="{{ url_for('your_recipes') }}">Your Recipes</a></li>
                  <li><a href="{{ url_for('favorites') }}">Favorites</a></li>
                  <li><a href="{{ url_for('instructions') }}">Instructions</a></li>
                  <li><a href="{{ url_for('dashboard') }}">Home</a></li>
                  <li><a href="{{ url_for('search') }}">Search</a></li>
                  
              </ul>
              
          </div>
      </div>
  
      <!-- Navigation -->
      <nav>
          <a href="{{ url_for('add_recipe') }}">Add Recipe</a>
          <a href="{{ url_for('your_recipes') }}">Your Recipes</a>
          <a href="{{ url_for('favorites') }}">Favorites</a>
          <a href="{{ url_for('instructions') }}">Instructions</a>
          <a href="{{ url_for('dashboard') }}">Home</a>
          <div class="search-container">
              <form method="get" action="{{ url_for('search_recipes') }}" id="searchForm" class="form-group">
                  <label for="search"></label>
                  <input type="text" name="search" id="search" required>
                  <input type="submit" class="button1-style" value="Search">
              </form>
          </div>
      </nav>

    <div class="book-container">
        <div class="field-container">

            <img src="/static/images/border.png" alt="Border Image">
            <div class="your-favorites">
                <!-- This space intentionally left blank for styling purposes -->
            </div>
            <img src="/static/images/borderb.png" alt="Border Image">
            <h1>Your Favorite Recipes</h1>
            <div class="recipes-grid">
                <!-- Display user's favorite recipes -->
                {% for favorite in favorites %}
                <article class="recipe-item">
                    <div id="printableArea{{ favorite[0] }}" class="recipe-container">
                        <div class="recipe-image">
                            {% if favorite[6] %}
                            <img src="{{ url_for('static', filename='uploads/' + favorite[6]) }}"
                                alt="{{ favorite[1] }}">
                            {% else %}
                            <img src="{{ url_for('static', filename='default_image.jpg') }}"
                                alt="Default Image">
                            {% endif %}
                            <p class="recipe-title"><strong>{{ favorite[1] }}</strong></p>
                            <!-- Display Method with Numbers -->
                            <div class="recipe-method">
                                <strong class="other-titles">Method:</strong>
                                {% if favorite[3] %}
                                <ol class="method-list">
                                    {% for step in favorite[3].split('\n') %}
                                    <li>{{ step }}</li>
                                    {% endfor %}
                                </ol>
                                {% endif %}
                            </div>
                        </div>

                        <div class="recipe-details">
                            <!-- Display Ingredients as a List -->
                            <p><strong class="other-titles">Ingredients:</strong></p>
                            {% if favorite[2] %}
                            <ul>
                                {% for ingredient in favorite[2].split('\n') %}
                                <li>{{ ingredient }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}

                            <!-- Notes Section -->
                            <blockquote class="notes">
                                <p><strong class="other-titles">Notes:</strong>
                                    <div class="text-notes"> {{ favorite[4] }}</div>
                                </p>
                            </blockquote>

                            <br>

                        </div>

                    </div>

                    <!-- Remove from Favorites Button -->
                    <button onclick="removeFromFavorites({{ favorite[0] }})"
                        class="button1-style">Remove from Favorites</button>
                    <a class="button3-style" onclick="printPageArea({{ favorite[0] }})">Print Recipe</a>


                    <hr>
                </article>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="/static/scripts/script.js"></script>
</body>

</html>
