@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
	font-family: 'Indie Flower', Arial, sans-serif, cursive !important;
  background: #f3e3c2;
	margin: 0px;
	padding: 0px;
}

::selection {
	background: transparent;
}

h4 {
	font-size: 2rem;
	line-height: 1px;
	font-family: 'Amatic SC', Arial, sans-serif,  cursive !important;
}

p {
	margin-top: 15px;
	margin-bottom: 15px;
}

.color1{color:#935445}
.color2{color:#4e3d36}


.card {
	height: 70%;
	color: #013243; /*SHERPA BLUE*/
	position: absolute;
	top: 50%;
	left: 50%;
	
	
	 /* Add the background image property */
    background: #f3e3c2;
    background-size: cover; /* This ensures that the background image covers the entire container */
	transform-style: preserve-3d;
	transform: translate(-50%,-50%) perspective(2000px);
	box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 20px 0 60px rgba(0,0,0,.5);
	transition: 1s;
}

.card:hover {
	transform: translate(-50%,-50%) perspective(2000px) rotate(15deg) scale(1.2);
	box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
}

.card:before {
	content:'';
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	background: #BAC1BA;
	transform-origin: bottom;
	transform: skewX(-45deg);
}

.card:after {
	content: '';
	position: absolute;
	top: 0;
	right: -5px;
	width: 5px;
	height: 100%;
	background: #92A29C;
	transform-origin: left;
	transform: skewY(-45deg);
}

.card .imgBox {
	width: 100%;
	height: 100%;
	position: relative;
	transform-origin: left;
	transition: .7s;
}

.card .bark {
	position: absolute;
	 /* Add the background image property */
	 background: #f3e3c2;
	 background-size: cover; /* This ensures that the background image covers the entire container */
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .7s;
}

.card .imgBox img {
	min-width: 100%;
	max-height: 100%;
}

.card:hover .imgBox {
	transform: rotateY(-135deg);
}

.card:hover .bark {
	opacity: 1;
	transition: .6s;
  box-shadow: 300px 200px 100px rgba(0, 0, 0, .4) inset;
}

.card .details {
	position: absolute;
	top: 0;
	left: 5%;
	box-sizing: border-box;
	padding: 0 0 0 10px;
	z-index: -1;
	margin-top: 10px;
}

.card .details p {
	text-align: center;
	
	font-size: 1rem;
	
	transform: rotate(-10deg);
	padding: 6px 0 0 20px;
}

.card .details h4 {
	text-align: center;
}

.text-right {
	text-align: right;
}


.book-text {
	display: flex;
	flex-direction: column;
}
/* Styles for device breakpoints */
@media screen and (max-width: 650px) {
	.card {
		
		color: #013243; /*SHERPA BLUE*/
		position: absolute;
		top: 50%;
		left: 50%;
		
		
		 /* Add the background image property */
		background: #f3e3c2;
		background-size: cover; /* This ensures that the background image covers the entire container */
		transform-style: preserve-3d;
		transform: translate(-50%,-50%) perspective(2000px);
		box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 20px 0 60px rgba(0,0,0,.5);
		transition: 1s;
	}

	h4 {
		margin-left: 33px;
		font-size: 1rem;
		line-height: 1px;
	}

	.card-details {
	left: 2%;
	}

	.card .details p {
		margin-left: 0px;
		margin-bottom: 8px;
		margin-top: 6px;
		font-size: .8rem;
	}

	.color2 {
		margin-bottom: 30px;
	}


		
	
}

@media screen and (max-height: 730px ) and (max-width: 450px) {
	.card .details p {
		margin-left: 0px;
		margin-bottom: 1px;
		margin-top: 1px;
		font-size: .7rem;
	}

	
	h4 {
		margin-left: 1px;
		font-size: 1rem;
		line-height: 1px;
	}

}
