@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans&display=swap&family=Indie+Flower&family=Amatic+SC');

body {
    font-family: 'Indie Flower', Arial, sans-serif, cursive !important;
    line-height: 1.6;
    font-size: 24px;
    height: 100vh;
    margin: 0;
    background: #f3e3c2;
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: 'Indie Flower', Arial, sans-serif, cursive !important;
    color: #4e3d36;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    font-size: 4rem;
}

h2 {
    margin-left: 16px;
    color: #4e3d36;
}

hr {
    border: 1px solid #935445;
    margin-top: 30px;
}

/* buttons */
.button1-style,
a.button2-style,
.button3-style,
input[type="file"]::file-selector-button {
    font-family: 'Indie Flower', Arial, sans-serif, cursive !important;
    cursor: pointer;
}

.button1-style {
    width: auto;
    padding: 10px 20px;
    font-size: 24px;
    margin: 10px;
    color: #e2d7bb;
    background-color: #5f0d19;
    border: none;
}

.button1-style:hover {
    background-color: #7b1630;
    color: #fff;
}

a.button2-style {
    color: #000000;
    width: auto;
    padding: 8px 20px 11px;
    font-size: 24px;
    margin: 10px;
    background-color: #e2d7bb;
    text-decoration: none;
    border: 2px #000000;
    border-style: outset;
}

.button3-style {
    width: auto;
    padding: 10px 7px;
    font-size: 24px;
    color: #eed9c4;
    margin-top: 28px;
    margin-left: 15px;
    background-color: #5f0d19;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button3-style:hover {
    background-color: #7b1630;
    color: #fff;
}

/* file upload button */
input[type="file"]::file-selector-button {
    width: auto;
    color: #eed9c4;
    padding: 10px 20px;
    font-size: 24px;
    margin-top: 10px;
    background-color: #5f0d19;
    border: none;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
    background-color: #7b1630;
    color: #fff;
}

 /* containers */
.login-container {
    width: 35%;
    min-height: 200px;
    max-height: 30%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.field-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 10px;
}

.search-container {
    padding-right: 5px;
    width: 30%;
    float: right;
    display: flex;
    align-items: center;
}

.book-container {
    width: 80%;
    min-height: 200px;
    max-height: 85%;
    padding-top: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    margin: auto;
}

.recipe-container {
    display: grid;
    grid-template-areas: "image name" "ingredients method";
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    margin-left: 20px;
}
/* styling for recipe layout*/
#your-recipes-list {
    list-style: none;
    padding: 20px;
}

.recipe-item {
    margin: 10px;
    padding: 10px;
    overflow: hidden;
}

.recipe-image {
    padding: 10px;
}

.recipe-image img {
    width: 50%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    grid-area: image;
}

.recipe-details {
    padding-left: 150px;
}

.recipe-title {
    grid-area: name;
    font-family: 'Indie Flower', sans-serif cursive !important;
    font-size: 46px;
    color: #83492e;
    border: 1px dashed #935445;
    padding-inline: 20px;
}

.recipe-method {
    margin-top: 10px;
    grid-area: method;
}

.recipe-details p {
    margin: 20px;
}

.recipe-details ul {
    margin-top: 0;
}

.recipe-details strong {
    font-weight: bold;
}

.notes {
    background-color: #eed9c4;
    margin-top: 60px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
}



#image_container {
    width: 400px;
}

#image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Styles for page images */
.add-recipe {
    background: url('/static/images/add_recipel.png') center center;
    width: 90%;
    background-size: 100% 100%;
    padding-top: 150px;
    padding-bottom: 175px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.your-recipes {
    background: url('/static/images/your_recipesl.png') center center;
    width: 90%;
    background-size: 100% 100%;
    padding-top: 150px;
    padding-bottom: 175px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.search-results {
    background: url('/static/images/seaqrch_resultsl.png') center center;
    width: 90%;
    background-size: 100% 100%;
    padding-top: 150px;
    padding-bottom: 175px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.edit-recipe {
    background: url('/static/images/your_recipesl.png') center center;
    width: 90%;
    background-size: 100% 100%;
    padding-top: 150px;
    padding-bottom: 175px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.instructions {
    background: url('/static/images/chef_hintsl.png') center center;
    width: 90%;
    background-size: 100% 100%;
    padding-top: 150px;
    padding-bottom: 175px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.welcome {
    background: url('/static/images/welcomel.png') center center;
    width: 90%;
    background-size: 100% 100%;
    padding-top: 150px;
    padding-bottom: 175px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.your-favorites {
    background: url('/static/images/favoritesl.png') center center;
    width: 90%;
    background-size: 100% 100%;
    padding-top: 150px;
    padding-bottom: 175px;
    margin-top: 2px;
    margin-bottom: 2px;
}
/* Styles for nav bar */
nav {
    background: url('/static/images/bookmark.png') no-repeat;
    overflow: hidden;
    font-size: 36px;
    margin: 0 10px 10px 40px;
}

nav a {
    float: left;
    display: block;
    color: #eed9c4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
}

nav a:hover,
nav a.selected {
    background-color: #7b1630;
    color: #fff;
}

/* Style for the form groups */
.form-group {
    margin-bottom: 15px;
    text-align: center;
    max-width: 100%;
    padding-inline: 0px;
}

/* Style for labels */
.label {
    display: block;
    margin-bottom: 5px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.form-group1 {
    display:flex;
    margin-bottom: 15px;
    text-align: center;
    max-width: 100%;
}



/* Style for input fields and text areas */
.form-group input[type="text"],
.form-group input[type="file"],
.form-group textarea {
    width: 98%;
    font-size: 24px;
    padding: 10px;
    box-sizing: border-box;
}

.form-group1 input[type="text"],
.form-group1 input[type="file"],
.form-group1 textarea {
    width: 50%;
    font-size: 24px;
    box-sizing: border-box;
}

/* Style for the submit button */
.form-group input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    font-size: 24px;
    color: #e2d7bb;
}

.form-width {
    width: 60%;
}